@{
    ViewBag.Title = "About";
}
<script src="~/Scripts/View/Premium.js"></script>
<script>var Identificacion = "@Session["UserId"]"</script>
<script>var Id = "@Session["Id"]"</script>

<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
        <div class="card shadow-lg">
            <div class="card-body text-center">
                @{ if ((bool)ViewData["Status"])
                    {
                    <h1 class="text-success"><i class="far fa-check-circle"></i></h1>
                    <h2 class="card-title text-success">¡Gracias!</h2>
                 
                    <p class="card-text">¡Bienvenido a la versión Premium de nuestro servicio!</p>
                    
                    <p class="card-text">Su pago ha sido realizado con éxito.</p>
                    <h4 class="card-subtitle mb-2 text-muted">ID de Transacción: @ViewData["IdTransaccion"]</h4>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary bg-primary text-light">Pagina Principal</a>
                    <script>
                        PagoRealizado();
                    </script>
                    }
                    else
                    {
                    <h1 class="text-danger"><i class="fas fa-exclamation-circle"></i></h1>
                    <h2 class="card-title text-danger">Lo sentimos</h2>
                    <p class="card-text">Su pago no ha sido realizado.</p>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary bg-primary text-light">Pagina Principal</a>
                        }
                    }
            </div>
        </div>
    </div>
</div>
