@model DTO.Usuario
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutNoMenu.cshtml";
}

@using (Html.BeginForm("IniciodeSesion", "IniciarSesion", FormMethod.Post))
{
    <h2>Iniciar sesion</h2>
<script src="~/Scripts/View/LocalValidation.js"></script>
<h2 class="my-5 text-primary">Inicio de Sesion</h2>

    <div>
        @if (ViewBag.Message != null)
        {
            <div>@ViewBag.Message</div>
        }
    </div>

    <table>
        <tr>
            <td>@Html.LabelFor(u => u.CorreoElectronico, "Correo electronico:")</td>
            <td>@Html.TextBoxFor(u => u.CorreoElectronico)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(u => u.Contrasena, "Password:")</td>
            <td>@Html.PasswordFor(u => u.Contrasena)</td>
        </tr>
        <tr>
            <td>
                <button id="btnLogin" type="submit" class="btn btn-success">Iniciar sesión</button>
                @Html.ActionLink("Cancel", "GoBack", "IniciarSesion", new { @class = "btn btn-success" })
            </td>
        </tr>
        <tr>
            <td>
                 <a>@Html.ActionLink("Recuperar contraseña","RecuperarContrasena", "IniciarSesion")</a>
            </td>
        </tr>
    </table>
}