@model DTO.Usuario

@{
    ViewBag.Title = "Recuperar Contraseña";
    Layout = "~/Views/Shared/_LayoutNoMenu.cshtml";
}

@using (Html.BeginForm("RecuperarContrasena", "IniciarSesion", FormMethod.Post))
{
    <h2>Recuperar contraseña - Enviaremos un correo electronico con una contraseña nueva</h2>

    <div>
        @if (ViewBag.Message != null)
        {
            <div>@ViewBag.Message</div>
        }
    </div>

    <table>
        <tr>
            <td>@Html.LabelFor(u => u.CorreoElectronico, "Correo electronico:")</td>
            <td>@Html.TextBoxFor(u => u.CorreoElectronico)</td>
        </tr>
        <tr>
            <td>
                <button id="btnLogin" type="submit" class="btn btn-success">Enviar correo de recuperación</button>
                @Html.ActionLink("Cancel", "GoBack", "IniciarSesion", new { @class = "btn btn-success" })
            </td>
        </tr>
    </table>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">Introduce tus credenciales</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="correoElectronicoInput">Correo electrónico</label>
                            @Html.TextBoxFor(u => u.CorreoElectronico, new { id = "correoElectronicoInput", @class = "form-control" })
                            @Html.ValidationMessage("usuario", "El campo correo electrónico es requerido.", new { id = "validacionCorreoElectronico", @class = "text-danger" })
                        </div>
                        <button type="submit" class="btn btn-primary mt-3" id="btn-login" disabled>Enviar correo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

