
@{
    ViewBag.Title = "MiPerfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/View/ContrasenaNuevaHandler.js"></script>

<script src="~/Scripts/View/EditarPerfil.js"></script>


<h2 class="my-5 text-primary">Mi Perfil</h2>

<div class="row align-items-center justify-content-center">
    <div class="col-lg-10">
        <div class="card">
            <div class="card-body">
                <form id="MiPerfil" class="form-group">
                    <fieldset>
                        <legend>Hola @Session["User"], puede actualizar la siguiente información:</legend>


                        <div class="form-group">
                            <label for="userPicture" class="form-label mt-4">Actualizar Imagen de Perfil</label>
                            <input class="form-control" type="file" id="updatePicture">
                        </div>


                        <div class="form-group">
                            <label for="userFirstName" class="form-label mt-4">Primer Nombre</label>
                            <input type="text" class="form-control" id="updateName" placeholder="Actualice el primer Nombre">
                        </div>

                        <div class="form-group">
                            <label for="userSurnames" class="form-label mt-4">Apellidos</label>
                            <input type="text" class="form-control" id="updateSurnames" placeholder="Actualice los apellidos">
                        </div>

                        <div class="form-group">
                            <label for="userPhone" class="form-label mt-4">Teléfono</label>
                            <input type="text" class="form-control" id="updatePhone" placeholder="Actualice el número telefónico">
                        </div>


                        <div class="form-group">
                            <br><span class="h5">Actualizar Contraseña</span><br />
                            <br><label for="contrasenaInput">Contraseña nueva</label>
                                @Html.Password("contrasena", "", new { id = "contrasenaInput", @class = "form-control" })
                                @Html.ValidationMessage("contrasenaCorrectFormat", "Mínimo 8 dígitos, números y símbolos, no puede repetir contraseñas anteriores.", new { @class = "text-muted" })
                                @Html.ValidationMessage("contrasenaVal", "El campo contraseña es requerido.", new { id = "validacionContrasena", @class = "text-danger" })
                                @Html.ValidationMessage("contrasenaFormatValSuccess", "Su contraseña es segura.", new { id = "validacionContrasenaSuccess", @class = "text-success" })
                            <br />
                        </div>
                        <div class="form-group">
                            <br><label for="contrasenaTwiceInput">Repetir contraseña</label>
                                @Html.Password("contrasenaTwice", "", new { id = "contrasenaTwiceInput", @class = "form-control" })
                                @Html.ValidationMessage("contrasenaTwiceVal", "La contraseña tiene que coincidir.", new { id = "validacionContrasenaTwice", @class = "text-danger" })
                            <br />
                        </div>

                        <button type="reset" class="btn btn-warning mt-4" id="btnCancelUpdate">Limpiar</button>
                        <button type="submit" class="btn btn-primary mt-4" id="btnUpdateProfile" disabled 
                                onclick="ActualizarPerfil(updatePicture.value, updateName.value, updateSurnames.value, updatePhone.value)">Actualizar</button>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>

