
@{
    ViewBag.Title = "MiPerfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/View/EditarPerfil.js"></script>



<h2 class="my-5 text-primary">Mi perfil</h2>

<script> var UserName = "@Session["User"]"</script>
<script> var UserLastName = "@Session["UserLastName"]"</script>
<script> var UserID = "@Session["UserId"]"</script>
<script> var UserEmail = "@Session["CurrentUser"]"</script>
<script> var UserPhone = "@Session["UserTel"]"</script>
<script> var UserPass = "@Session["PasswordHashed"]"</script>
<script> var UserOtp = "@Session["UserOtp"]"</script>


<div class="row align-items-center justify-content-center">
    <div class="col-lg-10">
        <div class="card">
            <div class="card-body">
                <form id="TblDatosPerfil" class="form-group">
                    <fieldset>
                        <legend>Tus datos actuales</legend>
                            <table id="TblPerfil" class="table table-borderless table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Apellidos</th>
                                        <th>Identificación</th>
                                        <th>Correo Electrónico</th>
                                        <th>Teléfono</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Session["User"]</td>
                                        <td>@Session["UserLastName"]</td>
                                        <td>@Session["UserId"]</td>
                                        <td>@Session["CurrentUser"]</td>
                                        <td>@Session["UserTel"]</td>
                                    </tr>
                                </tbody>
                            </table>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>




<div class="row align-items-center justify-content-center">
    <div class="col-lg-10">
        <div class="card">
            <div class="card-body">
                <form id="EditarPerfil" class="form-group">
                    <fieldset>
                        <legend>Puedes actualizar la siguiente información:</legend>

                        <div class="form-group">
                            <label for="userPicture" class="form-label mt-4">Actualizar imagen de perfil</label>
                            <input class="form-control" type="file" id="updatePicture">
                        </div>


                        <div class="form-group">
                            <label for="userFirstName" class="form-label mt-4">Primer Nombre</label>
                            <input type="text" class="form-control" id="uName" placeholder="Actualiza tu primer nombre">
                        </div>

                        <div class="form-group">
                            <label for="userSurnames" class="form-label mt-4">Apellidos</label>
                            <input type="text" class="form-control" id="uSurnames" placeholder="Actualiza tus apellidos">
                        </div>

                        <div class="form-group">
                            <label for="userEmail" class="form-label mt-4">Correo Electrónico</label>
                            <input type="email" class="form-control" id="uEmail" placeholder="Actualiza tu correo electrónico">
                        </div>


                        <div class="form-group">
                            <label for="userPhone" class="form-label mt-4">Teléfono</label>
                            <input type="text" class="form-control" id="uPhone" placeholder="Actualiza tu número telefónico">
                        </div>

                        <div class="form-group">
                            <br><span class="h5">Cambiar contraseña</span><br />
                            <label for="userPassword" class="form-label mt-4">Nueva contraseña</label>
                            <input type="password" class="form-control" id="contrasenaInput" placeholder="Mínimo 8 dígitos, números y símbolos, no puede repetir contraseñas anteriores.">
                        </div>

                        <button type="submit" class="btn btn-outline-primary mt-4 bg-primary text-bg-primary" id="btnUpdateProfile" onclick="EditarPerfil()">Actualizar </button>
                        <button type="reset" class="btn btn-outline-warning mt-4 bg-dark text-bg-primary" id="btnClear">Limpiar</button>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>

