
@{
    ViewBag.Title = "Licitaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/View/Licitaciones.js"></script>

<h2 class="my-5 text-primary">En su Inventario</h2>


<div class="row d-flex align-items-center flex-wrap">
    <button type="submit" class="btn btn-primary mt-4" id="btn-login" >@Html.ActionLink("Crear licitación", "CrearLicitaciones", "Licitacion", new {area=""}, new {@style="text-decoration: none"})</button>
    <div class="card m-2 licitation-card">
        <div class="card-body">
            <h4 class="card-title text-truncate">Titulo de licitación</h4>
            <h6 class="card-subtitle mb-2 text-muted">Numero de licitación</h6>
            <p class="card-text text-truncate">Descripción de la licitación Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada velit eget posuere porttitor. Proin sit amet neque fermentum, luctus ex at, consectetur massa. Aliquam erat volutpat. In venenatis ut magna vel consequat. Nunc enim magna, placerat et tristique et, mattis ut quam. Sed porta enim in finibus consequat. Mauris vel nisl eu elit dictum scelerisque ac sit amet metus. Vivamus tellus nisi, commodo at hendrerit sed, scelerisque et ipsum. Phasellus sollicitudin porttitor sem. In ullamcorper felis nec turpis ultricies, nec rutrum est efficitur. Cras nec metus nisi. Donec viverra purus diam, id dapibus velit hendrerit non. Aliquam risus arcu, accumsan nec pharetra quis, sodales ac diam. Maecenas vel risus lacus. Proin rutrum enim libero. Nunc vitae tortor nulla. </p>
        </div>
        <div class="card-footer row justify-content-between pb-6">
            <!--footer is currently WIP-->
            <div class="col-3">
                <span class="badge rounded-pill bg-info">Adjudicado</span>
            </div>
            <div class="col-8 text-end">
                <a>@Html.ActionLink("Ver Licitación", "AbrirLicitacion", "Licitacion", new { area = "" }, new { @class = "card-link" })</a>
            </div>
        </div>
    </div>

    <div class="card m-2 licitation-card">
        <div class="card-body">
            <h4 class="card-title text-truncate">Titulo de licitación</h4>
            <h6 class="card-subtitle mb-2 text-muted">Numero de licitación</h6>
            <p class="card-text text-truncate">Descripción de la licitación Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada velit eget posuere porttitor. Proin sit amet neque fermentum, luctus ex at, consectetur massa. Aliquam erat volutpat. In venenatis ut magna vel consequat. Nunc enim magna, placerat et tristique et, mattis ut quam. Sed porta enim in finibus consequat. Mauris vel nisl eu elit dictum scelerisque ac sit amet metus. Vivamus tellus nisi, commodo at hendrerit sed, scelerisque et ipsum. Phasellus sollicitudin porttitor sem. In ullamcorper felis nec turpis ultricies, nec rutrum est efficitur. Cras nec metus nisi. Donec viverra purus diam, id dapibus velit hendrerit non. Aliquam risus arcu, accumsan nec pharetra quis, sodales ac diam. Maecenas vel risus lacus. Proin rutrum enim libero. Nunc vitae tortor nulla. </p>
        </div>
        <div class="card-footer row justify-content-between pb-6">
            <!--footer is currently WIP-->
            <div class="col-3">
                <span class="badge rounded-pill bg-info">Adjudicado</span>
            </div>
            <div class="col-8 text-end">
                <a>@Html.ActionLink("Ver Licitación", "AbrirLicitacion", "Licitacion", new { area = "" }, new { @class = "card-link" })</a>
            </div>
        </div>
    </div>

    <div class="card m-2 licitation-card">
        <div class="card-body">
            <h4 class="card-title text-truncate">Titulo de licitación</h4>
            <h6 class="card-subtitle mb-2 text-muted">Numero de licitación</h6>
            <p class="card-text text-truncate">Descripción de la licitación Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada velit eget posuere porttitor. Proin sit amet neque fermentum, luctus ex at, consectetur massa. Aliquam erat volutpat. In venenatis ut magna vel consequat. Nunc enim magna, placerat et tristique et, mattis ut quam. Sed porta enim in finibus consequat. Mauris vel nisl eu elit dictum scelerisque ac sit amet metus. Vivamus tellus nisi, commodo at hendrerit sed, scelerisque et ipsum. Phasellus sollicitudin porttitor sem. In ullamcorper felis nec turpis ultricies, nec rutrum est efficitur. Cras nec metus nisi. Donec viverra purus diam, id dapibus velit hendrerit non. Aliquam risus arcu, accumsan nec pharetra quis, sodales ac diam. Maecenas vel risus lacus. Proin rutrum enim libero. Nunc vitae tortor nulla. </p>
        </div>
        <div class="card-footer row justify-content-between pb-6">
            <!--footer is currently WIP-->
            <div class="col-3">
                <span class="badge rounded-pill bg-info">Adjudicado</span>
            </div>
            <div class="col-8 text-end">
                <a>@Html.ActionLink("Ver Licitación", "AbrirLicitacion", "Licitacion", new { area = "" }, new { @class = "card-link" })</a>
            </div>
        </div>
    </div>

</div>

<h2 class="my-5 text-primary">Nuevo</h2>

<div class="row d-flex align-items-center flex-wrap">
    <div class="card m-2 licitation-card">
        <div class="card-body">
            <h4 class="card-title text-truncate">Titulo de licitación</h4>
            <h6 class="card-subtitle mb-2 text-muted">Numero de licitación</h6>
            <p class="card-text text-truncate">Descripción de la licitación Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada velit eget posuere porttitor. Proin sit amet neque fermentum, luctus ex at, consectetur massa. Aliquam erat volutpat. In venenatis ut magna vel consequat. Nunc enim magna, placerat et tristique et, mattis ut quam. Sed porta enim in finibus consequat. Mauris vel nisl eu elit dictum scelerisque ac sit amet metus. Vivamus tellus nisi, commodo at hendrerit sed, scelerisque et ipsum. Phasellus sollicitudin porttitor sem. In ullamcorper felis nec turpis ultricies, nec rutrum est efficitur. Cras nec metus nisi. Donec viverra purus diam, id dapibus velit hendrerit non. Aliquam risus arcu, accumsan nec pharetra quis, sodales ac diam. Maecenas vel risus lacus. Proin rutrum enim libero. Nunc vitae tortor nulla. </p>
        </div>
        <div class="card-footer row justify-content-between pb-6">
            <!--footer is currently WIP-->
            <div class="col-3">
                <span class="badge rounded-pill bg-warning">Abierto</span>
            </div>
            <div class="col-8 text-end">
                <a>@Html.ActionLink("Ver Licitación", "AbrirLicitacion", "Licitacion", new { area = "" }, new { @class = "card-link" })</a>
            </div>
        </div>
    </div>

    <div class="card m-2 licitation-card">
        <div class="card-body">
            <h4 class="card-title text-truncate">Titulo de licitación</h4>
            <h6 class="card-subtitle mb-2 text-muted">Numero de licitación</h6>
            <p class="card-text text-truncate">Descripción de la licitación Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada velit eget posuere porttitor. Proin sit amet neque fermentum, luctus ex at, consectetur massa. Aliquam erat volutpat. In venenatis ut magna vel consequat. Nunc enim magna, placerat et tristique et, mattis ut quam. Sed porta enim in finibus consequat. Mauris vel nisl eu elit dictum scelerisque ac sit amet metus. Vivamus tellus nisi, commodo at hendrerit sed, scelerisque et ipsum. Phasellus sollicitudin porttitor sem. In ullamcorper felis nec turpis ultricies, nec rutrum est efficitur. Cras nec metus nisi. Donec viverra purus diam, id dapibus velit hendrerit non. Aliquam risus arcu, accumsan nec pharetra quis, sodales ac diam. Maecenas vel risus lacus. Proin rutrum enim libero. Nunc vitae tortor nulla. </p>
        </div>
        <div class="card-footer row justify-content-between pb-6">
            <!--footer is currently WIP-->
            <div class="col-3">
                <span class="badge rounded-pill bg-warning">Abierto</span>
            </div>
            <div class="col-8 text-end">
                <a>@Html.ActionLink("Ver Licitación", "AbrirLicitacion", "Licitacion", new { area = "" }, new { @class = "card-link" })</a>
            </div>
        </div>
    </div>

    <div class="card m-2 licitation-card">
        <div class="card-body">
            <h4 class="card-title text-truncate">Titulo de licitación</h4>
            <h6 class="card-subtitle mb-2 text-muted">Numero de licitación</h6>
            <p class="card-text text-truncate">Descripción de la licitación Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada velit eget posuere porttitor. Proin sit amet neque fermentum, luctus ex at, consectetur massa. Aliquam erat volutpat. In venenatis ut magna vel consequat. Nunc enim magna, placerat et tristique et, mattis ut quam. Sed porta enim in finibus consequat. Mauris vel nisl eu elit dictum scelerisque ac sit amet metus. Vivamus tellus nisi, commodo at hendrerit sed, scelerisque et ipsum. Phasellus sollicitudin porttitor sem. In ullamcorper felis nec turpis ultricies, nec rutrum est efficitur. Cras nec metus nisi. Donec viverra purus diam, id dapibus velit hendrerit non. Aliquam risus arcu, accumsan nec pharetra quis, sodales ac diam. Maecenas vel risus lacus. Proin rutrum enim libero. Nunc vitae tortor nulla. </p>
        </div>
        <div class="card-footer row justify-content-between pb-6">
            <!--footer is currently WIP-->
            <div class="col-3">
                <span class="badge rounded-pill bg-warning">Abierto</span>
            </div>
            <div class="col-8 text-end">
                <a>@Html.ActionLink("Ver Licitación", "AbrirLicitacion", "Licitacion", new { area = "" }, new { @class = "card-link" })</a>
            </div>
        </div>
    </div>

    <div class="card m-2 licitation-card">
        <div class="card-body">
            <h4 class="card-title text-truncate">Titulo de licitación</h4>
            <h6 class="card-subtitle mb-2 text-muted">Numero de licitación</h6>
            <p class="card-text text-truncate">Descripción de la licitación Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada velit eget posuere porttitor. Proin sit amet neque fermentum, luctus ex at, consectetur massa. Aliquam erat volutpat. In venenatis ut magna vel consequat. Nunc enim magna, placerat et tristique et, mattis ut quam. Sed porta enim in finibus consequat. Mauris vel nisl eu elit dictum scelerisque ac sit amet metus. Vivamus tellus nisi, commodo at hendrerit sed, scelerisque et ipsum. Phasellus sollicitudin porttitor sem. In ullamcorper felis nec turpis ultricies, nec rutrum est efficitur. Cras nec metus nisi. Donec viverra purus diam, id dapibus velit hendrerit non. Aliquam risus arcu, accumsan nec pharetra quis, sodales ac diam. Maecenas vel risus lacus. Proin rutrum enim libero. Nunc vitae tortor nulla. </p>
        </div>
        <div class="card-footer row justify-content-between pb-6">
            <!--footer is currently WIP-->
            <div class="col-3">
                <span class="badge rounded-pill bg-warning">Abierto</span>
            </div>
            <div class="col-8 text-end">
                <a>@Html.ActionLink("Ver Licitación", "AbrirLicitacion", "Licitacion", new { area = "" }, new { @class = "card-link" })</a>
            </div>
        </div>
    </div>

    <div class="card m-2 licitation-card">
        <div class="card-body">
            <h4 class="card-title text-truncate">Titulo de licitación</h4>
            <h6 class="card-subtitle mb-2 text-muted">Numero de licitación</h6>
            <p class="card-text text-truncate">Descripción de la licitación Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada velit eget posuere porttitor. Proin sit amet neque fermentum, luctus ex at, consectetur massa. Aliquam erat volutpat. In venenatis ut magna vel consequat. Nunc enim magna, placerat et tristique et, mattis ut quam. Sed porta enim in finibus consequat. Mauris vel nisl eu elit dictum scelerisque ac sit amet metus. Vivamus tellus nisi, commodo at hendrerit sed, scelerisque et ipsum. Phasellus sollicitudin porttitor sem. In ullamcorper felis nec turpis ultricies, nec rutrum est efficitur. Cras nec metus nisi. Donec viverra purus diam, id dapibus velit hendrerit non. Aliquam risus arcu, accumsan nec pharetra quis, sodales ac diam. Maecenas vel risus lacus. Proin rutrum enim libero. Nunc vitae tortor nulla. </p>
        </div>
        <div class="card-footer row justify-content-between pb-6">
            <!--footer is currently WIP-->
            <div class="col-3">
                <span class="badge rounded-pill bg-warning">Abierto</span>
            </div>
            <div class="col-8 text-end">
                <a>@Html.ActionLink("Ver Licitación", "AbrirLicitacion", "Licitacion", new { area = "" }, new { @class = "card-link" })</a>
            </div>
        </div>
    </div>

</div>
